*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: auto;
    width: 100%;
    background:linear-gradient(to bottom,#a95e21,black,black,black,black,black,black,#a95e21);
    padding-bottom: 100px;
}
.game{
     width: 100%;
     text-align: center;
     /* padding-top: 10rem; */
}
.game img{
    height: 90%;
    width: 70%;
    object-fit: cover;
    margin-top: 7rem;

}
.time {
    text-align: left;
    width: 190px;
    border: 2px solid #a95e21;
    color: #a95e21;
    border-radius: 20px;
    padding: 15px;
}
.winner {
    text-align: left;
    width: 180px;
    border: 2px solid #a95e21;
    border-radius: 20px;
    padding: 15px;
    color: #a95e21;
}
.game-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-bottom: 2rem;
}

.box{
    height: 100px;
    width: 100px;
    border: 2px solid #a95e21;
    color: #a95e21;
    padding-top: 30px;
    font-size: 35px;

}
.board{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start button {
    border-radius: 20px;
    height: 60px;
    width: 190px;
    border: 2px solid #a95e21;
    background-color: black;
    color: #a95e21;
    font-weight: 900;
    font-size: 25px;
}
.game-over{
    border-radius: 20px;
    height: 60px;
    width: 190px;
    border: 2px solid #a95e21;
    margin-top: 3rem;
    background-color: black;
    color: #a95e21;
    font-weight: 900;
    font-size: 25px;
    margin: auto;   
}
.game-over h3{
padding-top: 10px;
}
.try-again button{
    border-radius: 20px;
    height: 60px;
    width: 190px;
    border: 2px solid #a95e21;
    background-color: black;
    color: #a95e21;
    font-weight: 900;
    font-size: 25px;
}
@media screen and (max-width: 1010px){
.time{
    width: 140px;
}
.winner{
    width: 140px;
}
}
@media screen and (max-width: 900px){
    .time{
        width: 131px;
        font-size: 15px;
        padding: 7px;
    }
    .winner{
        padding: 7px;
        width: 90px;
        font-size: 15px;
    } 
    .game-box{
        gap: 3rem ;
    }
}
@media screen and (max-width: 650px){
    .box {
        height: 80px;
        width: 80px;
        padding-top: 15px;
    }
    .start button {
        
        height: 50px;
        width: 160px;
        font-size: 20px;
        margin-left: 2rem;
    }
}
@media screen and (max-width: 570px){
    .time {
        width: 120px;
        font-size: 11px;
    }
    .winner{
        width: 120px;
        font-size: 11px;
    }
    .game-box {
        gap: 1rem;
    }
    .box {
        height: 60px;
        width: 60px;
        padding-top: 13px;
        font-size: 28px;
    }
    .start button {
        height: 40px;
        width: 120px;
        font-size: 13px;
        margin-left: 1rem;
    }

}
@media screen and (max-width: 450px){
    .winner {
        width: 100px;
        font-size: 9px;
    }
    .time {
        width: 100px;
        font-size: 9px;
    }
    .game-box{
        gap: 5px;
    }
    .start button {
        height: 35px;
        width: 100px;
    }
    .box {
        height: 50px;
        width: 50px;
    }
}
@media screen and (max-width: 380px){
    .time{
        width: 80px;
    }
    .winner{
        width: 80px;
    }
    .box {
        height: 40px;
        width: 40px;
        padding-top: 5px;
        font-size: 24px;
    }
    .start button {
        margin-left: 0rem;
    }
}



